
            <div class="col-md-9 main">
                <h1 class="page-header">Registrar Usuario</h1>  
                <form name='datosForm'>
					<tabset justified="true"> 
						<tab heading="Datos Personales">
                            <div class="form-group">
                                <label class="control-label">Nombres</label>
                                <input  maxlength="100" type="text" required="required" class="form-control" ng-model="persona.nombres"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Apellidos</label>
                                <input maxlength="100" type="text" required="required" class="form-control" ng-model="persona.apellidos"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Identificac&oacute;n</label>
                                <input maxlength="100" type="text" required="required" class="form-control" ng-model="persona.identificacion"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Correo Electr&oacute;nico</label>
                                <input name="email" maxlength="100" type="text" required="required" class="form-control" ng-model="persona.email"/>
                                <span data-ng-show='!datosForm.$pristine && datosForm.email.$error.email'>Por favor ingrese un email válido.</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Fecha Nacimiento</label>
							    <div class="row">
							        <div class="col-md-6">
							            <p class="input-group">
							              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="persona.fechaNacimiento" 
							              close-on-date-selection="false"
							              is-open="opened" datepicker-options="dateOptions" ng-required="true" 
							              current-text="Hoy")
										  clear-text="Limpiar") 
							              close-text="Cerrar" disabled="disabled" />
							              <span class="input-group-btn">
							                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							              </span>
							            </p>
							        </div>
							    </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Direcci&oacute;n</label>
                                <input maxlength="100" type="text" required="required" class="form-control" ng-model="persona.direccion"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Pa&iacute;s</label>
                                <input maxlength="100" type="text" required="required" class="form-control" ng-model="persona.pais"/>
                            </div>                            
                            <div class="form-group">
                                <label class="control-label">Departamento</label>
                                <input maxlength="100" type="text" required="required" class="form-control" ng-model="persona.departamento"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Ciudad</label>
                                <input maxlength="100" type="text" required="required" class="form-control" ng-model="persona.municipio"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Tel&eacute;fono</label>
                                <input maxlength="100" type="text" required="required" class="form-control" ng-model="persona.telefono" placeholder="(+XXX)XXX-XXXX" />
                            </div>
                            
                            <div>
                                <a class="btn btn-primary" href="/estampateWEBIntermedio">Atras</a>
                                <button class="btn btn-primary" ng-click="crearPersona()">Crear</button>
                            </div>
						</tab>
						<tab heading="Contrase&ntilde;a">
                            <br/>
                            <div class="form-group">
                                <label class="control-label">Usuario</label>
                                <input  maxlength="100" type="text" required="required" class="form-control" ng-model="usuario.username"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Nueva Contrase&ntilde;a</label>
                                <input  maxlength="100" type="password" required="required" class="form-control" ng-model="usuario.password"/>
                            </div>
                            <div>
                            	<a class="btn btn-primary" href="/estampateWEBIntermedio">Atras</a>
                                <button class="btn btn-primary" ng-click="crearUsuario(usuario)">Crear</button>
                            </div>
						</tab>
                  </tabset>
				<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}}</alert>
			</form>
        </div>
        