<h1 class="page-header">Carrito de Compras</h1>                
<div class="row placeholders">
    <div class="container-fluid">
        <div class="content-wrapper">   
            <div class="item-container">    
                <div class="container"> 
                    <div class="col-md-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12" ng-model="camisasEnCarrito">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Cantidad</th>
                                                <th class="text-center">Precio</th>
                                                <th class="text-center">Total</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in camisasEnCarrito">
                                                <td class="col-sm-8 col-md-6">
                                                <div class="media">
                                                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="{{item.tipoCamiseta.ubicacion}}" style="width: 72px; height: 72px;"> </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a href="#">{{item.tipoCamiseta.nombre}}</a></h4>
														<h4 class="media-heading"><a href="#">+</a></h4>
														<h4 class="media-heading"><a href="#">Estampa:{{item.estampaBean.nombre}}</a></h4>
                                                    </div>
                                                </div></td>
                                                <td class="col-sm-1 col-md-1" style="text-align: center">
                                                <input type="number" class="form-control" id="exampleInputEmail1" ng-model="item.cantidad">
                                                </td>
                                                <td class="col-sm-1 col-md-1 text-center"><strong>{{item.precio}}</strong></td>
                                                <td class="col-sm-1 col-md-1 text-center"><strong>{{(item.precio)*item.cantidad}}</strong></td>
                                                <td class="col-sm-1 col-md-1">
                                                <button type="button" class="btn btn-danger" ng-click="removeItem(item)">
                                                    <span class="glyphicon glyphicon-remove"></span> Remove
                                                </button></td>
                                            </tr>                                                           
                                            <tr>
                                            	<td>  </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td><h5>Subtotal</h5></td>
                                                <td class="text-right" ng-model="camisasEnCarrito"><h5><strong>{{getTotal()}}</strong></h5></td>
                                            </tr>
                                            <tr>
                                           		<td>  </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td><h5>Estimated shipping</h5>
                                                	<select name="metodoEnvio">
                                                		<option ng-repeat="metodoEnvio in metodosDeEnvio" ng-click="setMetodoEnvio(metodoEnvio)">{{metodoEnvio.nombre}}</option>
                                                	</select>
                                                </td>
                                                <td class="text-right"><h5><strong>{{metodoEnvioSelected.valor}}</strong></h5></td>
                                            </tr>
                                            <tr>
                                                <td>  </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td><h3>Total</h3></td>
                                                <td class="text-right" ><h3><strong>{{totalConEnvio()}}</strong></h3></td>
                                            </tr>
                                            <tr>
                                                <td>  </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td>
                                                <button type="button" class="btn btn-default" onClick="location.href='#/'">
                                                    <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                                                </button></td>
                                                <td>
									            <div class="btn-group cart">
									            	<a href="#/checkout" class="btn btn-success" role="button" ng-click="enviarDatos(metodoEnvio)">Checkout </a>
									            </div>
                                                </td>
												
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div> 
            </div>

        </div>
    </div>
</div>
