<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<link href="/estampateWEBAvanzado/css/rating.css" rel="stylesheet">
<div class="col-md-9 main">
	<h1 class="page-header">Personaliza tu Camiseta!</h1>
<div class="row placeholders">
<div class="container-fluid">
    <div class="content-wrapper">   
        <div class="item-container">    
            <div class="container"> 
                <div class="col-md-8">
                    <div class="product col-md-10 service-image-left">
                    	<center>
                            <div id="col-md-12 container">
                                <center>
                                <img id="image" ng-src="{{estampaSeleccionada.imagen}}" width="300" height="250" style="padding-top: 15px; padding-left: 18px;"/>
                        		</center>
                   	 		</div>
               	 		</center>
           		 	</div>
            
        		</div>			            
		        <div class="col-md-4">
		            <div class="product-title" align="left">{{estampaSeleccionada.nombre}}</div>
		            <div class="product-desc" align="left">{{estampaSeleccionada.informacion}}</div>
					<div class="product-desc" align="left">Por: {{estampaSeleccionada.usuarioBean.username}}</div>
					<div class="product-rating" ng-model="estampaSeleccionada.ratting">
						<i id="star1" class="fa fa-star-o"></i> <i id="star2" class="fa fa-star-o"></i> <i id="star3" class="fa fa-star-o"></i> <i id="star4" class="fa fa-star-o"></i> <i id="star5" class="fa fa-star-o"></i>
					</div>
		            <hr>
		
		            <div class="product-price">{{estampaSeleccionada.precio|currency}}</div>
		            <hr>
		            <div class="btn-group cart">
		            	<a href="#/personalizarEstampa" class="btn btn-success" role="button" ng-click="selecionarEstampa(estampaSeleccionada)">Agregar a Camiseta </a>
		            </div>
		            <br/>
		            <br/>
		            <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
		           
		        </div>
		        <div class="col-md-12">
		        <hr>
		        <div class="product-title" align="center">Califique esta estampa:</div>
		            <span class="starRating">
					  <input id="rating5" type="radio" name="rating" value="5">
					  <label for="rating5">5</label>
					  <input id="rating4" type="radio" name="rating" value="4">
					  <label for="rating4">4</label>
					  <input id="rating3" type="radio" name="rating" value="3">
					  <label for="rating3">3</label>
					  <input id="rating2" type="radio" name="rating" value="2">
					  <label for="rating2">2</label>
					  <input id="rating1" type="radio" name="rating" value="1">
					  <label for="rating1">1</label>
					</span>
				</div>
	    	</div> 
		</div>                          
	</div>
</div>
</div>
</div>