<!DOCTYPE html>
<html lang="en" ng-app="estampateApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Vabrik Fashion</title>
<!-- Bootstrap core CSS -->
<link href="/estampateWEBAvanzado/css/bootstrap/bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/estampateWEBAvanzado/css/dashboard.css" rel="stylesheet">
<link href="/estampateWEBAvanzado/css/personalizar.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Vabrik Fashion</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#/carrito">Carrito</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/estampateWEBAvanzado/Logout">Sign out</a></li>
				</ul>
				<ul class="navbar-form navbar-right">
					<li><input type="text" class="form-control" placeholder="Search..." ng-model="search"></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 slide" ng-controller="mainCtrl">
			<ul class="nav nav-sidebar" ng-show="funcionalidades!=null">
				<li id="func_0"class="funcion active" ><a href="/estampateWEBAvanzado">&nbsp;&nbsp;&nbsp;&nbsp;Inicio</a></li>
				<li id="func_{{privilegio.id}}" class="funcion" ng-repeat="privilegio in  funcionalidades" ><a href="#{{privilegio.url}}">&nbsp;&nbsp;&nbsp;&nbsp;{{privilegio.nombre}}</a></li>
			</ul>
		</div>
		<div class="container-fluid  col-sm-10" ng-view></div>
	</div>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="/estampateWEBAvanzado/js/angular/angular.min.js"></script>
	<script src="/estampateWEBAvanzado/js/angular/angular-sanitize.min.js"></script>
	<script src="/estampateWEBAvanzado/js/angular/angular-route.min.js"></script>
	<script src="/estampateWEBAvanzado/js/angular/angular-cookies.min.js"></script>
	<script src="/estampateWEBAvanzado/js/angular/ui-bootstrap-tpls-0.12.1.min.js"></script>
	<script src="/estampateWEBAvanzado/js/bootstrap/js/bootstrap.min.js"></script>
	<script src="/estampateWEBAvanzado/js/estampate/app.js"></script>
	<script src="/estampateWEBAvanzado/js/estampate/controllers.js"></script>
</body>
</html>